.not-found-container {
    text-align: center;
}

.not-found-title {
    font-size: 8rem;
    color: #f44336;
    margin-bottom: 20px;
}

.not-found-message {
    font-size: 2rem;
    margin-bottom: 20px;
}

.not-found-button {
    margin-top: 20px;
}