.menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.menuItem {
  width: 96%;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.menuItem:hover {
  background-color: #f0f0f0;
}
